In [53]:
# A motorbike cost Â£2000 and drops its value by 10% each year. 
# Step by step Calculation of how much it's value drops each year from 2015 - 2021 


userInputString = input("Original cost of motorbike")

originalCostPrice = float( userInputString)

YearlyValueDrop = (10 / 100) * originalCostPrice 

finalCost = originalCostPrice - YearlyValueDrop

print("The motorbike's value drops by", YearlyValueDrop, "each year")

The motorbike's value drops by 200.0 each year

In [54]:
#function

def Motorbike_value2():
    YearlyValueDrop = (10/100) * originalCostPrice
    finalCost = originalCostPrice - YearlyValueDrop
    print("The motorbike's value drops by", YearlyValueDrop, "each year")

print ("The motorbike's value dropped by", YearlyValueDrop, "this year")

The motorbike's value dropped by 200.0 this year

In [55]:
def Motorbike_value2(x):
    return 2000 - x

In [56]:
a = Motorbike_value2(200)

In [57]:
print (a)
print ("The Motorbike's value in 2015 is", a,)

1800
The Motorbike's value in 2015 is 1800

In [61]:
def Motorbike_value2(x):
    return 1800 - x

In [63]:
b = Motorbike_value2(200)

In [64]:
print (b)
print ("The Motorbike's value in 2016 is", b,)

1600
The Motorbike's value in 2016 is 1600

In [65]:
def Motorbike_value2(x):
    return 1600 - x

In [66]:
c = Motorbike_value2(200)

In [67]:
print (c)
print ("The Motobike's value in 2017 is", c,)

1400
The Motobike's value in 2017 is 1400

In [68]:
def Motorbike_value2(x):
    return 1400 - x

In [71]:
d = Motorbike_value2(200)

In [72]:
print (d)
print ("The Motorbike's value in 2018 is", d,)

1200
The Motorbike's value in 2018 is 1200

In [73]:
def Motorbike_value2(x):
    return 1200 - x

In [74]:
e = Motorbike_value2(200)

In [75]:
print (e)
print ("The Motorbike's value in 2019 is", e,)

1000
The Motorbike's value in 2019 is 1000

In [89]:
def Motorbike_value(x):
    return 1000 - x

In [90]:
f = Motorbike_value2 (200)

In [92]:
print (f)
print ("The Motorbike's value in 2020 is", f,)

1000
The Motorbike's value in 2020 is 1000